body {
    background: url('../images/black_linen_v2.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    /* background: url('../images/code.jpg'); */
    background-size: contain;

}



.hidden {
    display: none;
}

.box {
    height: 100%;
}

.box img {
    cursor: pointer;
    position: relative;
    filter: brightness(70%);
    transition: 0.3s;
}

.links {
    width: 100%;
    position: absolute;
    top: 35%;
    left: 0;
    padding: 0 20%;
    background: url('../images/black_linen_v2.png')
    
}


.box img:hover {
    filter: brightness(100%);
    box-shadow: 1px 1px 8px #888888
}

.second-section {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    
}

.footer-text a {
    text-decoration: none;
}