body {
    background: url('../images/code.jpg');
    background-size: cover;
    padding-bottom: 0;
}

.main {
    /* background: url('../images/code.jpg'); */
    background-size: contain;

}



.hidden {
    display: none;
}

.box {
    height: 100%;
}

.box img {
    cursor: pointer;
    position: relative;
    filter: brightness(70%);
    transition: 0.3s;
}

.links {
    width: 100%;
    position: absolute;
    top: 35%;
    left: 0;
    padding: 0 20%;
    
}



.box img:hover {
    filter: brightness(100%);
    box-shadow: 1px 1px 8px #888888
}

/* .box p {
    font-family: 'Akronim', cursive;
} */

.circle {
    width: 70%;
    height: 90%;
    border: 3px solid lightgray;
    box-shadow: 1px 1px 8px #888888;
    border-radius: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    animation-name: large;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes large {
    0% {width: 70%; height: 90%}
    50% {width: 71%; height: 91%}
    100% {width: 70%; height: 90%}

}



.footer-text a {
    text-decoration: none;
}